.login-page {
     margin-top: 150px;
}

.login-title {
    color: green;
    font-size: 3.5rem;
    font-weight: 200;
}

.login-card h1 {
    color: green;
    background-color: #000;
    letter-spacing: 15px;
    margin-bottom: 50px;
    margin-left: 30px;
}

.login-form {
    display: flex;
    flex-direction: column;
    padding-left: 70px;
    padding-right: 120px;
    gap: 50px;
    background-color: #000;
}

.login-form input {
    background-color: #000;
    width: 100%;
}

.login-form input::placeholder {
    color: gray;
}

.login-button {
    font-size: 2rem;
}