.rounded-button {
  display: inline-block;
  padding: 6px 20px; /* Adjust padding as needed */
  border: none;
  border-radius: 25px; /* Use a high value for more rounding */
  background-color: green; /* Button background color */
  color: hsl(0, 0%, 100%); /* Text color */
  font-size: 1.7rem; /* Font size */
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  width: 250px;
  transition: background-color 0.3s ease; /* Smooth color transition on hover */
}
